.footer {
    margin-top: 2em;
    background-color: #333333;
    display: flex;
}

.contenedor-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.5em 0;
    align-items: center;
    .links {
        a {
            color: white;
        }
    }
}

.socialMedia {
    font-size: 30px;
    display: flex;
    min-width: 100px;
    justify-content: space-between;
    color: $azul;
    .icono {
        cursor: pointer;
    }
}