body {
    margin: 0 0;
}

.contenedor {
    max-width: 1300px;
    margin: 0 auto;
}

.btn {
    padding: 1em;
}

$azul: #3366FF;
.btn-azul {
    background-color: $azul;
}

a {
    text-decoration: none;
}

p,
a,
span,
label,
h1,
h2,
h3,
h4 {
    font-family: 'Tw Cen MT';
    color: #333333;
}