.contenedormainpage {
    background-image: url('https://lh3.googleusercontent.com/proxy/XvMpmdB9hzm8KsDgGOtJnOXydOmOWcukW6KjO1bO77ySQ5ZgDAgkKlHsFHEaKgUmGss6eBKqB7W8Ey0M-nTm-6LSGgh9VkkU0ip-s-WOSVauxZfY401aMMZpZLby9vpQlUFpKhFsreAoL5EgbOHMG6dfoc8IYBGHSuDTwBVJz0Wp');
    background-repeat: no-repeat;
    background-position: bottom 10px right 20px;
    min-height: 500px;
    display: grid;
    align-items: center;
    justify-content: center;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    .column-1 {
        text-align: center;
        p {
            margin: 0 85px;
            text-align: justify;
            font-size: 19px;
        }
    }
    h2 {
        font-size: 2.5em;
    }
    .btn-azul {
        cursor: pointer;
        color: white;
        border-radius: 10px;
        max-width: 100px;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
    }
}