.contenedor-nav-var {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav-var {
    padding: 1.3em 1em 2.2em 1em;
    //margin-bottom: 1.5em;
    border: 1px solid;
    border-color: #a3b2df;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nav-var .logo {
    display: block;
}

.logo span {
    font-weight: 700;
    font-size: 2.2em;
}

.logo:after {
    content: '';
    width: 210px;
    border-bottom: solid 2px #3366FF;
    position: absolute;
    top: 70px;
    left: 30px;
}

.nav-var p {
    margin: 0 0;
}

.links {
    display: flex;
}

.links a {
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.links a:first-of-type {
    margin-right: 5px;
}

.links a::after {
    content: '';
    height: 3%;
    margin-left: 7px;
    border-right: solid 2px #3366FF;
    position: absolute;
}

.links a:last-of-type {
    margin-left: 10px;
}

.links a:last-of-type:after {
    border-right: none;
}