<template lang="">
  <navbar />
  <div class="main">
    <div class="contenedor-login contenedor">
      <h1>Login</h1>
      <div class="formulario-login">
        <div v-if="tipoCuenta == 'desarrollador'">
          <form v-on:submit.prevent="processLoginDesarrollador">
            <div class="eleccion-formulario">
              <h2>Elija</h2>
              <div @click="IngresoDesarrollador" class="btn">
                <p>Desarrollador</p>
              </div>
              <div v-on:click="IngresoCliente" class="btn">
                <p>Cliente</p>
              </div>
            </div>
            <div class="campos Noselect">
              <div class="campo">
                <label for="correo">Correo:</label>
                <input
                  v-model="desarrollador.dev_email"
                  type="text"
                  name=""
                  id="correo"
                />
              </div>
              <div class="campo">
                <label for="Contraseña">Contraseña:</label>
                <input
                  v-model="desarrollador.dev_password"
                  type="password"
                  name="Contraseña"
                  id="contraseña"
                />
              </div>
            </div>
            <input class="btn btn-ingresar" type="submit" value="Ingresar" />
          </form>
        </div>

        <div v-else-if="tipoCuenta == 'cliente'">
          <form v-on:submit.prevent="processLoginCliente">
            <div class="eleccion-formulario">
              <h2>Elija</h2>
              <div @click="IngresoDesarrollador" class="btn">
                <p>Desarrollador</p>
              </div>
              <div v-on:click="cliente" class="btn">
                <p>Cliente</p>
              </div>
            </div>
            <div class="campos Noselect">
              <div class="campo">
                <label for="correo">Correo:</label>
                <input
                  v-model="cliente.cliente_name"
                  type="text"
                  name=""
                  id="correo"
                />
              </div>
              <div class="campo">
                <label for="Contraseña">Contraseña:</label>
                <input
                  v-model="cliente.passsword"
                  type="password"
                  name="Contraseña"
                  id="contraseña"
                />
              </div>
            </div>
            <input class="btn btn-ingresar" type="submit" value="Ingresar" />
          </form>
        </div>
      </div>
    </div>
    <div class="imagen-fondo"></div>
  </div>
  <Footer />
</template>

<script>
import navbar from "../components/navbar.vue";
import Footer from "../components/footer.vue";
import axios from "axios";

export default {
  name: "login",
  components: {
    Footer,
    navbar,
  },
  data: function () {
    return {
      tipoCuenta: "",
      desarrollador: {
        dev_email: "",
        dev_password: "",
      },
      cliente: {
        cliente_name: "",
        password: "",
      },
    };
  },
  methods: {
    IngresoDesarrollador: function () {
      let campos = document.querySelector(".campos");
      campos.classList.remove("Noselect");
      campos.classList.add("seleccionado");

      let eleccion = document.querySelector(".eleccion-formulario");
      console.log(eleccion);
      eleccion.classList.add("Noselect");

      let formulario = document.querySelector(".formulario-login");
      formulario.classList.add("credenciales");
      this.tipoCuenta = "desarrollador";
    },
    IngresoCliente: function () {
      let campos = document.querySelector(".campos");
      campos.classList.remove("Noselect");
      campos.classList.add("seleccionado");

      let eleccion = document.querySelector(".eleccion-formulario");
      console.log(eleccion);
      eleccion.classList.add("Noselect");

      let formulario = document.querySelector(".formulario-login");
      formulario.classList.add("credenciales");
      this.tipoCuenta = "cliente";
    },
    processLoginDesarrollador: function () {
      axios
        .post(
          "https://codeforpeople.herokuapp.com/login/desarrollador/",
          this.desarrollador,
          { headers: {} }
        )
        .then((res) => {
          let datalogin = {
            dev_email: this.user.dev_email,
            token_access: res.data.acess,
            token_refresh: res.data.refresh,
          };
          this.$emit("completedLogin", datalogin);
        })
        .catch((err) => {
          console.error(err);
          if (err.response.status == "401") alert("Credenciales incorrectas");
        });
    },

    processLoginCliente: function () {
      axios
        .post(
          "https://codeforpeople.herokuapp.com/login/cliente/",
          this.cliente,
          { headers: {} }
        )
        .then((res) => {
          let datalogin = {
            cliente_name: this.user.cliente_name,
            token_access: res.data.acess,
            token_refresh: res.data.refresh,
          };
          this.$emit("completedLogin", datalogin);
        })
        .catch((err) => {
          console.error(err);
          if (err.response.status == "401") alert("Credenciales incorrectas");
        });
    },
  },
};
</script>
<style lang="scss" src="../styles/scss/app.scss"></style>
