/* eslint-disable */
<template lang="">
  <navbar />
  <main>
    <div class="contenedormainpage contenedor">
      <div class="column-1">
        <h2>Unete a la comunidad</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe esse
          vel assumenda quidem sed. Nisi debitis, eius cumque corrupti
          voluptatibus ipsum.
        </p>
      </div>
      <div class="column-2">
        <div class="btn btn-azul boton-mainpage">Unete ya</div>
      </div>
    </div>
  </main>
  <Footer />
</template>

<script>
import Footer from "../components/footer.vue";
import navbar from "../components/navbar.vue";
export default {
  components: { navbar, Footer },
  name: "mainpage",
};
</script>

<style lang="scss" src="../styles/scss/app.scss"></style>
