<template lang="">
  <navbar />
  <div>
    <h1>Singup</h1>
  </div>
  <Footer />
</template>
<script>
import navbar from "../components/navbar.vue";
import Footer from "../components/footer.vue";

export default {
  name: "singup",
  components: {
    Footer,
    navbar,
  },
};
</script>

<style lang="scss" src="../styles/scss/app.scss"></style>
