<template>
  <div class="footer">
    <div class="contenedor-footer contenedor">
      <div class="links footer-links">
        <a href="/example">example</a>
        <a href="/example">example</a>
        <a href="/example">example</a>
        <a href="/example">example</a>
      </div>
      <div class="socialMedia">
        <i class="icono fab fa-instagram"></i>
        <i class="icono fab fa-facebook-square"></i>
        <i class="icono fab fa-twitter"></i>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
  computed: {},
};
</script>
<style lang="scss"></style>
