<template>
  <main>
    <div class="contenedormainpage contenedor">
      <div class="column-1">
        <h2>Unete a la comunidad</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe esse
          vel assumenda quidem sed. Nisi debitis, eius cumque corrupti
          voluptatibus ipsum.
        </p>
      </div>
      <div class="column-2">
        <div class="btn btn-azul boton-mainpage">Unete ya</div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "mainpage",
};
</script>

<style></style>
