<template lang="">
  <div class="nav-var">
    <div class="contenedor-nav-var contenedor">
      <router-link to="/">
        <div class="logo">
          <span>CodeForPeople</span>
        </div>
      </router-link>
      <div class="links">
        <router-link to="/singup">singup</router-link>
        <router-link to="/login">login</router-link>
        <router-link to="/">Home</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  loadSignUp: function () {
    this.$router.push({ name: "singup" });
  },
  loadlogin: function () {
    this.$router.push({ name: "login" });
  },
  name: "navbar",
};
</script>

<style lang="sass"></style>
