<template>
  <div id="app">
    <div id="nav"></div>
  </div>
  <router-view></router-view>
</template>

<script>
export default {
  name: "App",
};
</script>

<style lang="scss" src="./styles/scss/app.scss"></style>
