.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 585px;
}

.imagen-fondo {
    //background-image: url('https://lh6.googleusercontent.com/Q9HTHbxfYYP6tRFAFbBX9JYPrweFZRmI6AA7McwQ9E12nZSkBjfQEaiOU-NGulmjHBoA5rvv5ySeuC0sEMpC=w1360-h663');
    background-image: url('/fondo-azul-de-la-pintura-de-la-acuarela-con-la-mano-blanca-dibujada-alrededor-de-garabatos-y-de-mandalas-96078655.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 585px;
}

.footer {
    margin: 0 0;
}

.formulario-login {
    display: flex;
    justify-content: center;
    padding: 1.5em 4em;
    background-color: #3366FF;
    max-width: 450px;
}

.formulario-login {
    .campo {
        margin-bottom: 2em;
        display: flex;
        label {
            color: white;
            display: flex;
            width: 80px;
            font-size: 20px;
            margin-right: 2em;
            font-weight: 600;
        }
        input {
            display: flex;
            width: 250px;
        }
        &:last-of-type {
            margin-bottom: 1em;
        }
    }
    .eleccion-formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        .btn {
            transition: ease-in-out 0.5s;
            background-color: white;
            padding: 1em;
            width: 170px;
            border-radius: 10px;
            margin: 0.6em;
            &:hover {
                cursor: pointer;
                background-color: #1c56a1;
                p {
                    color: white;
                }
            }
            p {
                transition: ease-in-out 0.5s;
            }
        }
        h2 {
            text-align: center;
        }
        &.Noselect {
            opacity: 0;
            transition: all 0.2s ease-in;
            transform: translateY(120px) scale(0.9);
            padding-top: 30PX;
            height: 0 !important;
        }
    }
    .btn-ingresar {
        margin: 0 auto;
        margin-top: 15px;
        display: flex;
        background-color: white;
        border-style: none;
        padding: 1em 3em;
        border-radius: 5px;
        transition: ease-in-out 0.5s;
        &:hover {
            cursor: pointer;
            background-color: #1c56a1;
            color: white;
        }
    }
    &.credenciales {
        transition: all 0.3s ease-in;
        padding: 5em 4em;
    }
}

.Noselect {
    opacity: 0;
    transition: all 0.3s ease-in;
    transform: translateY(180px) scale(0.9);
    height: 0 !important;
}

.seleccionado {
    z-index: 1;
    opacity: 1;
    transition: all 0.5s ease-out 0.3s;
    transform: scale(1);
    margin-bottom: 2.5em;
    animation: enable 0.5s ease-out 0.3s;
}